@charset "utf-8";



/*全端末（PC・タブレット・スマホ）共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
html,body {height: 100%;}
body {
	margin: 0px;
	padding: 0px;
	color: #fff;	/*全体の文字色*/
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 16px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background: #333;	/*背景色*/
	-webkit-text-size-adjust: none;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form {margin: 0px;padding: 0px;font-size: 100%;font-weight: normal;}
ul {list-style-type: none;}
ol {padding-left: 40px;padding-bottom: 15px;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
iframe {width: 100%;}

@keyframes opa1 {
0% {opacity: 0;}
100% {opacity: 1;}
}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #fff;		/*リンクテキストの色*/
	transition: 0.5s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
}
a:hover {
	color: #ff4765;			/*マウスオン時の文字色*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*ヘッダー（一番上の、ロゴやメニューが入っているブロック）
---------------------------------------------------------------------------*/
header {
	height: 100%;
	overflow: auto;
	position: relative;
	background: url(../images/mainimg.jpg) no-repeat center center / cover;
	/* background: #111; */
}
/*ロゴ画像*/
header #logo img {
	display: block;
	width: 25%;	/*画像の幅*/
	position: absolute;
	left: 38%;		/*ロゴやメニューが入っているブロックに対して、左からの配置場所の指定。*/
	bottom: 50%;	/*ロゴやメニューが入っているブロックに対して、下からの配置場所の指定。*/
}

/*メニュー
---------------------------------------------------------------------------*/
/*メニューブロック全体への指定*/
#menubar {
	position: absolute;
	bottom: 20%;	/*ロゴやメニューが入っているブロックに対して、下からの配置場所の指定。*/
	left: 0px;
	width: 100%;
	text-align: center;
}
/*メニュー１個あたりの指定*/
#menubar li {
	display: inline-block;
	margin: 0 1%;
	animation-name: opa1;
	animation-delay: 1S;
	animation-duration: 1S;
	animation-fill-mode: both;
}
#menubar li a {
	text-decoration: none;display: block;text-align: center;
	width: 140px;	/*メニューの幅*/
	color: #fff;	/*文字色*/
	border-bottom: 2px solid transparent;	/*下線の幅、線種、色。transparentは透明の事。*/
	padding-bottom: 7px;	/*下線と文字の間にとる余白*/
}
/*マウスオン時の指定*/
#menubar li a:hover {
	border-bottom: 2px solid #fff;	/*下線の幅、線種、色*/
	letter-spacing: 0.1em;			/*文字間隔を少しだけ広くする指定。そのままがいいならこの１行を削除。*/
}

/*コンテナー（headerとfooterをのぞくブロックを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	max-width: 1400px;	/*最大幅。これ以上広くならない指定。*/
	margin: 0 auto;
}

/*コンテンツ（上のcontainerの中のブロック）
---------------------------------------------------------------------------*/
#contents {
	overflow: hidden;
	padding: 50px 3%;
}
#contents section + section {
	padding-top: 50px;
}
/*コンテンツ内にあるh2(見出し)タグの指定*/
#contents h2 {
	margin-bottom: 20px;
	clear: both;
	padding: 0 20px;
	font-size: 20px;		/*文字サイズ*/
	text-align: center;		/*文字をセンタリング*/
	letter-spacing: 0.1em;	/*文字間隔を少しだけ広くする指定*/
	background: #000;	/*背景色*/
	color: #fff;			/*文字色*/
	border-radius: 100px;	/*角を丸くする指定。大きめであれば適当で構いません。*/
}
/*コンテンツ内にあるh3(見出し)タグの指定*/
#contents h3 {
	margin-bottom: 20px;
	clear: both;
	padding: 0 20px;
	font-size: 18px;		/*文字サイズ*/
	text-align: center;		/*文字をセンタリング*/
	letter-spacing: 0.1em;	/*文字間隔を少しだけ広くする指定*/
	border: 2px solid #fff;	/*枠線の幅、線種、色*/
	border-radius: 100px;	/*角を丸くする指定。大きめであれば適当で構いません。*/
}
/*コンテンツ内にあるp(段落)タグ設定*/
#contents p {
	padding: 0px 20px 20px;	/*上、左右、下への余白*/
}
/*他。微調整。*/
#contents p + p {
	margin-top: -5px;
}
#contents h2 + p,
#contents h3 + p {
	margin-top: -10px;
}

/*Serviceページ
---------------------------------------------------------------------------*/
/*各ブロックごとの設定*/
.list {
	overflow: hidden;
	line-height: 1.5;
	border-bottom: 1px solid #111;	/*下線の幅、線種、色*/
	padding: 20px;	/*ボックス内の余白*/
	display: flex;
}
/*１番目のlistブロックへの追加指定。上に線を入れる。*/
.list:first-of-type {
	border-top: 1px solid #111;
}
/*h4見出しの設定*/
.list h4 {
	font-size: 20px;	/*文字サイズ*/
	margin-bottom: 10px;
}
/*画像の設定*/
.list image {
	width: 20%;			/*画像幅*/
	float: left;		/*画像を左に回り込み*/
	margin-right: 3%	/*画像の右側に空けるスペース*/
}/*↑と同じことiframeにも*/

.list .youtube {
	position: relative;
	width: 40%;
	height: 100%;
	padding-top: 23%;
}

.list .youtube iframe {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
  }
/*段落タグ*/
.list p {
	padding: 0 !important;
}

#ytchalink{
	margin: auto;
	width: 20%;			/*画像幅*/
	display: flex;
	margin-left: 5%;
	margin-right: 20%;
}

.trim-image-to-circle {
    width: 80%;       /* ※縦横を同値に */
    height: 80%;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: center center;  /* 横長画像の左上を基準に表示 */
    display: inline-block;          /* 複数の画像を横に並べたい場合 */
	max-width: 90px;
}

#ytchalink .text{
	margin: auto;
	margin-left: 10%;
	flex-direction: column;
	justify-content: center;
}

.ytsub{
	display: none;
}

.text h4{
	font-size: 25px;
}

/*フッター設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	text-align: center;
	background: #000;	/*背景色*/
	color: #fff;		/*文字色*/
	font-size: 85%;		/*文字サイズ*/
}
footer a {
	color: #fff;	/*リンクテキストの文字色*/
	text-decoration: none;
}
footer a:hover {
	color: #fff;	/*マウスオン時の文字色*/
}
footer .pr {
	display: block;
	font-size: 80%;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new dl {
	padding-left: 20px;
	margin-bottom: 15px;
}
/*日付設定*/
#new dt {
	float: left;
	width: 9em;
	letter-spacing: 0.1em;
}
/*記事設定*/
#new dd {
	padding-left: 9em;
}

/*テーブル
---------------------------------------------------------------------------*/
/*テーブル１行目に入った見出し部分（※caption）*/
.ta1 caption {
	border: 1px solid #fff;	/*テーブルの枠線の幅、線種、色*/
	border-bottom: none;	/*下線だけ消す*/
	text-align: center;		/*文字をセンタリング*/
	font-weight: bold;		/*太字に*/
	padding: 10px;			/*ボックス内の余白*/
}
/*テーブル１行目に入った見出し部分（※tamidashi）*/
.ta1 th.tamidashi {
	width: auto;
	text-align: center;	/*文字をセンタリング*/
}
/*ta1テーブルブロック設定*/
.ta1 {
	table-layout: fixed;
	width: 100%;
	margin: 0 auto 20px;
}
.ta1, .ta1 td, .ta1 th {
	word-break: break-all;
	border: 1px solid #fff;	/*テーブルの枠線の幅、線種、色*/
	padding: 10px;			/*テーブル内の余白*/
}
/*テーブルの左側ボックス*/
.ta1 th {
	text-align: center;	/*センタリング*/
	width: 30%;			/*幅*/
}

/*PAGE TOP（↑）設定
---------------------------------------------------------------------------*/
.scroll-show {display: block;}
.scroll a {
	display: block;text-decoration: none;text-align: center;
	width: 50px;		/*幅*/
	line-height: 50px;	/*高さ*/
	position: fixed;
	right: 30px;		/*右からの配置場所指定*/
	bottom: 30px;		/*下からの配置場所指定*/
	color: #fff;		/*文字色*/
	background: rgba(0,0,0,0.4);	/*背景色。0,0,0は黒色の指定で0.4は色が40%出た状態。*/
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
}
/*マウスオン時*/
.scroll a:hover {
	background: rgba(0,0,0,0.8);	/*背景色。0,0,0は黒色の指定で0.8は色が80%出た状態。*/
}

/*トップページのNEWアイコン
---------------------------------------------------------------------------*/
.newicon {
	background: #F00;	/*背景色*/
	color: #FFF;		/*文字色*/
	font-size: 70%;
	line-height: 1.5;
	padding: 2px 5px;
	border-radius: 2px;
	margin: 0px 5px;
	vertical-align: text-top;
}

/*ul.disc,olタグ
---------------------------------------------------------------------------*/
ul.disc {
	list-style: disc;
	padding: 0 20px 20px 55px;
}
ol {
	padding: 0 20px 20px 42px;
}

/*その他
---------------------------------------------------------------------------*/
.look {background: #000;border: 1px solid #666;padding: 5px 10px;border-radius: 4px;}
.mb15,.mb1em {margin-bottom: 15px;}
.clear {clear: both;}
ul.disc {padding: 0em 25px 15px 40px;list-style: disc;}
.color1, .color1 a {color: #ff4765;}
.pr {font-size: 10px;}
.wl {width: 96%;}
.ws {width: 50%;}
.c {text-align: center;}
.r {text-align: right;}
.l {text-align: left;}
.big1 {font-size: 40px;letter-spacing: 0.2em;}
.mini1 {font-size: 11px;display: inline-block;line-height: 1.5;}
.sh {display: none;}




/*画面幅800px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:800px){

/*ヘッダー（一番上の、ロゴやメニューが入っているブロック）
---------------------------------------------------------------------------*/
/*ロゴ画像*/
header #logo img {
	width: 30%;	/*画像の幅*/
	left: 35%;	/*ロゴやメニューが入っているブロックに対して、左からの配置場所の指定。*/
}

}

/*画面幅560px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:560px){

.text h4{
font-size: 22px;
}

}

/*画面幅480px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:480px){

/*ヘッダー（一番上の、ロゴやメニューが入っているブロック）
---------------------------------------------------------------------------*/
/*ロゴ画像*/
header #logo img {
	width: 50%;	/*画像の幅*/
	left: 25%;	/*ロゴやメニューが入っているブロックに対して、左からの配置場所の指定。*/
}

/*コンテナー（headerとfooterをのぞくブロックを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	font-size: 12px;
	font-size: 2.93vw;
}

/*コンテンツ（上のcontainerの中のブロック）
---------------------------------------------------------------------------*/
/*コンテンツ内にあるh2(見出し)タグの指定*/
#contents h2 {
	font-size: 16px;	/*文字サイズ*/
}
/*コンテンツ内にあるh3(見出し)タグの指定*/
#contents h3 {
	font-size: 14px;	/*文字サイズ*/
}

/*Serviceページ
---------------------------------------------------------------------------*/
/*h4見出しの設定*/
.list h4 {
	font-size: 16px;	/*文字サイズ*/
}

/*ul.disc,olタグ
---------------------------------------------------------------------------*/
ul.disc {
	padding: 0 0px 20px 35px;
}
ol {
	padding: 0 0px 20px 35px;
}

/*その他
---------------------------------------------------------------------------*/
.ws {width: 96%;}
.big1 {font-size: 22px;letter-spacing: normal;}

}

/*画面幅380px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:380px){

	.list .youtube {
		position: relative;
		width: 100%;
		padding-top: 58%
	}

	#ytchalink{
		display: none;
	}
	.ytsub{
		display: block;
		margin-top: 10px;
	}
	.list{
		line-height: 5.5;
		align-items: center;
		flex-direction: column;
	}
}

.follow-me {
  list-style: none;
  margin: 0 0 -8px;
  overflow: hidden;
  padding: 0;
  text-align: center;
}
.follow-me li {
  margin: 0 8px 8px 0;
  padding: 0;
  display: inline-block;
}
.follow-me li a::before {
  background-color: #eee;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #333;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 44px; /* Button height */
  line-height: 44px; /* Button height */
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
  width: 44px; /* Button width */
}
.follow-me li a:hover::before {
  color: #fff;
}
.follow-me li a[href*="amazon.co.jp"]::before,
.follow-me li a[href*="amazon.com"]::before        { content: "\f270"; }
.follow-me li a[href*="codepen.io"]::before         { content: "\f1cb"; }
.follow-me li a[href*="delicious.com"]::before      { content: "\f1a5"; }
.follow-me li a[href*="deviantart.com"]::before     { content: "\f1bd"; }
.follow-me li a[href*="digg.com"]::before           { content: "\f1a6"; }
.follow-me li a[href*="dribble.com"]::before        { content: "\f17d"; }
.follow-me li a[href*="dropbox.com"]::before        { content: "\f16b"; }
.follow-me li a[href*="facebook.com"]::before       { content: "\f09a"; }
.follow-me li a[href*="feedly.com"]::before         { content: "\f09e"; }
.follow-me li a[href*="flickr.com"]::before         { content: "\f16e"; }
.follow-me li a[href*="foursquare.com"]::before     { content: "\f180"; }
.follow-me li a[href*="github.com"]::before         { content: "\f09b"; }
.follow-me li a[href*="plus.google.com"]::before    { content: "\f0d5"; }
.follow-me li a[href*="b.hatena.ne.jp"]::before     { content: "\f027"; font-family: blogicon; }
.follow-me li a[href*="instagram.com"]::before      { content: "\f16d"; }
.follow-me li a[href*="last.fm"]::before            { content: "\f202"; }
.follow-me li a[href*="linkedin.com"]::before       { content: "\f0e1"; }
.follow-me li a[href*="nicovideo.jp"]::before       { content: "\f047"; font-family: blogicon; }
.follow-me li a[href*="pinterest.com"]::before      { content: "\f0d2"; }
.follow-me li a[href*="getpocket.com"]::before      { content: "\f265"; }
.follow-me li a[href*="reddit.com"]::before         { content: "\f1a1"; }
.follow-me li a[href*="skype.com"]::before,
.follow-me li a[href*="skype:"]::before             { content: "\f17e"; }
.follow-me li a[href*="slideshare.net"]::before     { content: "\f1e7"; }
.follow-me li a[href*="spotify.com"]::before        { content: "\f1bc"; }
.follow-me li a[href*="steamcommunity.com"]::before { content: "\f1b6"; }
.follow-me li a[href*="stumbleupon.com"]::before    { content: "\f1a4"; }
.follow-me li a[href*="tumblr.com"]::before         { content: "\f173"; }
.follow-me li a[href*="twitch.tv"]::before          { content: "\f1e8"; }
.follow-me li a[href*="twitter.com"]::before        { content: "\f099"; }
.follow-me li a[href*="vimeo.com"]::before          { content: "\f27d"; }
.follow-me li a[href*="vine.co"]::before            { content: "\f1ca"; }
.follow-me li a[href*="weibo.com"]::before          { content: "\f18a"; }
.follow-me li a[href*="whatsapp.com"]::before       { content: "\f232"; }
.follow-me li a[href*="wordpress.com"]::before,
.follow-me li a[href*="wordpress.org"]::before      { content: "\f19a"; }
.follow-me li a[href*="youtube.com"]::before        { content: "\f16a"; }
.follow-me li a[href$="/feed"]::before              { content: "\f09e"; }
.follow-me li a[href$="/subscribe"]::before         { content: "\f000"; font-family: blogicon; }

.follow-me li a[href*="amazon.co.jp"]:hover::before,
.follow-me li a[href*="amazon.com"]:hover::before        { background-color: #ff9900; }
.follow-me li a[href*="codepen.io"]:hover::before         { background-color: #000000; }
.follow-me li a[href*="delicious.com"]:hover::before      { background-color: #3399ff; }
.follow-me li a[href*="deviantart.com"]:hover::before     { background-color: #05cc47; }
.follow-me li a[href*="digg.com"]:hover::before           { background-color: #000000; }
.follow-me li a[href*="dribble.com"]:hover::before        { background-color: #ea4c89; }
.follow-me li a[href*="dropbox.com"]:hover::before        { background-color: #007ee5; }
.follow-me li a[href*="facebook.com"]:hover::before       { background-color: #3b5998; }
.follow-me li a[href*="feedly.com"]:hover::before         { background-color: #6cc655; }
.follow-me li a[href*="flickr.com"]:hover::before         { background-color: #0063dc; }
.follow-me li a[href*="foursquare.com"]:hover::before     { background-color: #f94877; }
.follow-me li a[href*="github.com"]:hover::before         { background-color: #181717; }
.follow-me li a[href*="plus.google.com"]:hover::before    { background-color: #dc4e41; }
.follow-me li a[href*="b.hatena.ne.jp"]:hover::before     { background-color: #008fde; }
.follow-me li a[href*="instagram.com"]:hover::before      { background-color: #125688; }
.follow-me li a[href*="last.fm"]:hover::before            { background-color: #d51007; }
.follow-me li a[href*="linkedin.com"]:hover::before       { background-color: #0077b5; }
.follow-me li a[href*="nicovideo.jp"]:hover::before       { background-color: #eaeaea; }
.follow-me li a[href*="pinterest.com"]:hover::before      { background-color: #bd081c; }
.follow-me li a[href*="getpocket.com"]:hover::before      { background-color: #ef3f56; }
.follow-me li a[href*="reddit.com"]:hover::before         { background-color: #ff4500; }
.follow-me li a[href*="skype.com"]:hover::before,
.follow-me li a[href*="skype:"]:hover::before             { background-color: #00aff0; }
.follow-me li a[href*="slideshare.net"]:hover::before     { background-color: #2d2d2d; }
.follow-me li a[href*="spotify.com"]:hover::before        { background-color: #84bd00; }
.follow-me li a[href*="steamcommunity.com"]:hover::before { background-color: #171a21; }
.follow-me li a[href*="stumbleupon.com"]:hover::before    { background-color: #eb4929; }
.follow-me li a[href*="tumblr.com"]:hover::before         { background-color: #36465d; }
.follow-me li a[href*="twitch.tv"]:hover::before          { background-color: #6441a5; }
.follow-me li a[href*="twitter.com"]:hover::before        { background-color: #55acee; }
.follow-me li a[href*="vimeo.com"]:hover::before          { background-color: #1ab7ea; }
.follow-me li a[href*="vine.co"]:hover::before            { background-color: #11b58a; }
.follow-me li a[href*="weibo.com"]:hover::before          { background-color: #e6162d; }
.follow-me li a[href*="whatsapp.com"]:hover::before       { background-color: #64d548; }
.follow-me li a[href*="wordpress.com"]:hover::before,
.follow-me li a[href*="wordpress.org"]:hover::before      { background-color: #21759b; }
.follow-me li a[href*="youtube.com"]:hover::before        { background-color: #cd201f; }
.follow-me li a[href$="/feed"]:hover::before              { background-color: #ffa500; }
.follow-me li a[href$="/subscribe"]:hover::before         { background-color: #363636; }